body
{
    background-color: blanchedalmond;
}

#container
{
    margin-top: 5%;
    margin-left: 35%;
    padding-top: 4%;
    padding-left: 5%;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    background-color: hsl(338, 5%, 61%);
    border-radius: 40px;
}

button
{
    margin-left: 15px;
    color: hsl(0, 0%, 3%);
    background-color: hsl(120, 5%, 90%);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    font-weight: bolder;
    font-size: large;
}

button:hover
{
    color: hsl(0, 0%, 60%);
    cursor: pointer;
}

button:active
{
    color: hsl(0, 0%, 60%);
  
}

#input
{
    text-align: center;
    margin-left: 15%;
    height: 10%;
    width: 50%;
    font-size: larger;
    border-radius: 10px;
}

.operator
{
    background-color: hsl(39, 100%, 60%);
}